.container {
	width: 940px;
	height: 140px;
	margin: auto;
	margin-top: 26px;
	background-color: #FFFF;
	border-top: 1px solid #FFFF;
	display: flex;
}

.content {
	width: 700px;

	&__title {
		display: flex;
		align-items: center;
		margin: 15px 0 0 20px;
	}

	&__heading {
		margin: 0;
		margin-right: 13px;
		font-size: 20px;
		line-height: 28px;
		color: #1890FF;
		cursor: pointer;
	}

	&__number {
		margin-left: 5px;
	}

	&__tag-item {
		border: 1px solid #000;
		border-radius: 2px;
		display: inline;
		padding: 3px;
		margin-right: 8px;
	}

	&__tags-list {
		margin: 10px 0 0 20px;
		padding: 0;
		font-size: 12px;
		line-height: 15px;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
	}

	&__text {
		margin: 10px 0 0 20px;
		font-size: 12px;
		line-height: 22px;
	}

	&__paragraph {
		margin: 0;
	}
}

.person {
	display: flex;
	margin-left: auto;

	&__description {
		margin: 15px 12px 0 0;
	}

	&__name {
		margin: 0;
		font-size: 18px;
		line-height: 28px;
		text-align: right;
	}

	&__date {
		font-size: 12px;
		line-height: 22px;
		color: rgba(0, 0, 0, 0.5);
		display: inline-block;
		text-align: right;
	}

	&__avatar {
		width: 46px;
		height: 46px;
		margin: 15px 15px 0 0;
	}

	&__avatar-img {
		object-fit: cover;
		width: 100%;
	}
}