@font-face {
	font-family: "Inter";
	src: url("./Inter-VariableFont_slnt\,wght.ttf");
}

.app {
	font-family: "Inter", sans-serif;
	background-color: #E5E5E5;
	border-bottom: 1px solid #FFF;
	height: 100%;
}