.header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 22px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	background-color: #FFFF;

	&__title {
		flex-grow: 1;
		margin: 0;
	}

	&__link-title {
		color: #000;
	}

	&__btn-sign-in {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 28px;
		width: 110px;
		height: 50px;
		border: 1px solid #FFFF;
		box-sizing: border-box;
		border-radius: 5px;
		background-color: #FFFF;
		cursor: pointer;
	}

	&__link-sign-in {
		color: #000;
		margin-right: 22px;
	}

	&__btn-sign-up {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 28px;
		width: 110px;
		height: 50px;
		border: 1px solid #52C41A;
		box-sizing: border-box;
		border-radius: 5px;
		background-color: #FFFF;
		cursor: pointer;
	}

	&__link-sign-up {
		color: #52C41A;
	}

	&__btn-sign-out {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 28px;
		width: 110px;
		height: 50px;
		border: 1px solid #000;
		box-sizing: border-box;
		border-radius: 5px;
		background-color: #FFFF;
		cursor: pointer;
	}

	&__link-sign-out {
		color: #000;
	}

	&__avatar-link {
		margin-right: 27px;
	}

	&__avatar {
		width: 46px;
		height: 46px;
	}

	&__avatar-img {
		width: 100%;
		object-fit: contain;
		font-size: 9px;
		color: #000;
	}

	&__username {
		font-size: 18px;
		line-height: 28px;
		margin-right: 13px;
	}

	&__username-link {
		color: #000;
	}

	&__btn-create-article {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		width: 112px;
		height: 30px;
		border: 1px solid #52C41A;
		box-sizing: border-box;
		border-radius: 5px;
		background-color: #FFFF;
		cursor: pointer;
	}

	&__link-create-article {
		color: #52C41A;
		margin-right: 27px;
	}
}